<h1>Scan to Remove</h1>
<form action="{% url 'scan' %}" method="post">
{% csrf_token %}
        <input type="text" name="barcode" id="removed{{ barcode }}" />
        <label for="removed{{ barcode }}"></label><br />
        <input type="submit" value="Remove" />
        </form>
{% if inventory_list %}
    <table>
    {% for inventory_item in inventory_list %}
        <tr><td><li><a href="{{ inventory_item.restocking_link }}/" target="_blank">{{ inventory_item.inventory_text }}</a></td><td>In stock: {{inventory_item.stock}}</td> 
        <td><form action="{% url 'change' inventory_item.id %}" method="post">
        {% csrf_token %}
        <input type="number" name="removed" id="removed{{ inventory_item.id }}" />
        <label for="removed{{ inventory_item.id }}"></label><br />
        <input type="submit" value="Remove" />
        </form></td>
        <td><form action="{% url 'change' inventory_item.id %}" method="post">
        {% csrf_token %}
        <input type="number" name="added" id="added{{ inventory_item.id }}" />
        <label for="added{{ inventory_item.id }}"></label><br />
        <input type="submit" value="Restock" />
        </form></td></tr>
</li>
    {% endfor %}
    </table>
{% else %}
    <p>No inventory is available.</p>
{% endif %}
